[submodule "kazmath"]
	path = kazmath
	url = https://github.com/Kazade/kazmath.git
[submodule "kaztimer"]
	path = kaztimer
	url = https://github.com/Kazade/Kaztimer.git
[submodule "kaztext"]
	path = kaztext
	url = git@github.com:Kazade/Kaztext.git
